<!DOCTYPE html>


<html>
    <head>
        <title>Sign up Page</title>
        <!--
            TODO: add reference external style.css file
            
        -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
        <script type="text/javascript" src="../static/js/utils.js"></script>

    </head>


    <body>
        <div class = "img">


        <form action="/form_SignUp" id = signup>
             <h2>SIGN UP!</h2>
          <label for="email">Email:</label><br>
          <input type="text" id="email" name="email"><br>
          <label for="username">User Name:</label><br>
          <input type="text" id="username" name="username"><br>
          <label for = "password"> Password:</label><br>
          <input type = "password" id="password" name="password" ><br><br>
          <input type="submit" id = "Submit" value="Submit">
        </form>
        </div>
    </body>




    <!--
        TODO: import alert_welcome function from external utils.js file
        TODO: call alert_welcome
    -->
    <!--
        TODO: create form html components to capture user input
        TODO: make sure to set required inputs
        TODO: add styling from style.css to submit button
    --> 
</html>